---
import ThemeToggle from "./ThemeToggle.astro";
---

<header>
  <div class="flex justify-between items-center text-2xl title">
    <div>
      <span class="font-extrabold text-rose-400">神奇海螺</span>
      <span
        class="text-transparent font-extrabold bg-clip-text bg-gradient-to-r from-rose-200 to-rose-400"
        >☆</span>
      <span class="font-extrabold text-sky-800 dark:text-sky-100">俱乐部</span>
    </div>
    <ThemeToggle />
  </div>
</header>

<style is:inline>
  .after .title,
  .after #themeToggle,
  .after #message-container {
    transition-property: transform, opacity;
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
  }

  .before #themeToggle {
    transform: rotate(540deg);
  }

  #themeToggle {
    border: 0;
    opacity: 1;
  }

  .before #message-container {
    opacity: 0;
  }

  .after #message-container {
    opacity: 1;
  }
</style>
